*{
	margin:0;
	padding:0;
}
#navbar{
	background-color: lightgray;
	display:inline;
    margin: 4px 4px;
    padding-right: 10px;
    padding-right: 10px;
}
#log_out{
	float: right;
	

}
#header_img{
	border-radius:100%;
	object-fit: cover;

}
image{
	margin-left:  4rem;
}
#title{
	display:grid;
	grid-template-columns: auto auto; 
}



.grid-container {
	  display: grid;
	  grid-template-columns: auto auto auto;
	  background-color:lightgray;
	  padding: 10px;
	  
	}
	.grid-item {
	  background-color:lightgray ;
	  padding: 5px;
	  font-size: 30px;
	  

	}
	.grid-item  img{
		width: 50%;
   		height: 50%;
	}